@function pxTorem($px){
    @return $px /2 * 1px;
}

/******中性色********/
$black:#000;
$gray-light:#c8c8c8;
$sliver:#a3a3a3;
$gray:#666666;
$white:#ffffff;

/********基础色*********/

$red:#de443b;
$pink:#f06870;
$yellow:#feca5e;
$green:#79cabc;
$blue:#20a0ff;

/*******基础值*********/

$gap:pxTorem(5);
$panel-gap:$gap*2;
$base-size:pxTorem(26);
